package ${package.Service};

import ${package.Entity}.${entity}DO;
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}DO> {

        /**
         *  分页查询
         * @param pageQuery 必须要有 page 和 row
         * @return
         */
        Page<${entity}DO> select${entity}DOPage(PageQuery pageQuery);

        boolean IsNameExists(String name, Integer id);
}